*{
    padding:0;
    margin:0;
   }
   html,body{
    width:100%;
    height:100%;
   }
   body{
    position:relative;
   }
   #showPart {
     margin-left: 50%;
     transform: translateX(-50%);
     width:800px;
     height: 150px;
     display: flex;
     justify-content: space-between;
    }
   .middlePart audio {
       display: none;
   }
   .rightPartMiddle {
     display: flex;
     justify-content:space-between;
   }
   #chooseBgm {
     font-size: 18px;
   }
   #bgmChange {
     font-size: 18px;
     border: none;
     outline: none;
   }
   .ensureChangeBgm {
     width: 30px;
     height: 30px;
     background: url(resources/icon/done.svg) no-repeat center center/30px 30px;
     cursor: pointer;
   }
   #showscore{
    font-size:18px ;
    border: none;
   }
   #truescore {
    font-size:18px ;
    border: none;
    color: red;
   }
   #chooseSpace {
    font-size:18px ;
    border: none;
   }
   #spaces {
    font-size: 18px;
    border: none;
    outline: none;
   }
   #container{
    margin-left: 50%;
    transform: translateX(-50%);
    width:300px;
    height:300px;
    border: 5px solid rgb(66, 79, 88);
    font-size: 0px;
    position: relative;
   }
   .playAndPauseGame {
    position: absolute; 
    width: 30px;
    height: 30px;
    left: -5px;
    bottom: -35px;
    background: url(resources/icon/pause.svg) no-repeat center center/40px 40px;
    cursor: pointer;
   }
   .playAndPauseBgm {
    position: absolute; 
    width: 30px;
    height: 30px;
    right: 35px;
    bottom: -35px;
    background: url(resources/icon/bgm-on.svg) no-repeat center center/30px 30px;
    cursor: pointer;
   }
   .playAndPauseSoundEffects {
    position: absolute; 
    width: 30px;
    height: 30px;
    right: 0;
    bottom: -35px;
    background: url(resources/icon/music-on.svg) no-repeat center center/30px 30px;
    cursor: pointer;
   }
  .mask {
    position: absolute;;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, .6);
    display: none;
   }
   .mask.show {
    display: block;
   }
   .mask .settlementPanel {
     position: absolute;
     width: 400px;
     height: 400px;
     left: 50%;
     top: 50%;
     transform:translate(-50%,-50%) ;
     background-color: #fff;
     z-index: 12;
     display: none;
   }
   .mask .settlementPanel .lastScorePart {
     margin-top: 20px;
     text-align: center;
     font-size: 18px;
   }
   .mask .settlementPanel .rankPart {
     margin-top: 30px;
     width: 100%;
     height: 200px;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     align-items: center;
   } 
   .mask .settlementPanel .rankPart .rank {
     font-size: 24px;
   }
   .mask .settlementPanel .restart {
     margin-top: 30px;
     text-align: center;
     width: 100px;
     height: 50px;
     line-height: 50px;
     position: absolute;
     left: 50%;
     transform: translateX(-50%);
     background-color: antiquewhite;
     border-radius: 5px;
     cursor: pointer;
   }
   #scoretab div {
      font-size: 18px;
      text-align: center;
      color: red;
      margin: 20px auto;
  }
   .node {
     position:absolute;
     width: 20px;
     height: 20px;
     padding: 3px;
     box-sizing: border-box;
   }
   .node.food {
     background-color: #9ccc65;
   }
   .node.head {
     background-color: red;
   }
   .node.body {
     background-color: gray;
   }