*{
    padding:0;
    margin:0;
   }
   html,body{
    width:100%;
    height:100%;
   }
   body{
    position:relative;
   }
   #showPart {
     margin-left: 50%;
     transform: translateX(-50%);
     width:800px;
     height: 150px;
     display: flex;
     justify-content: space-between;
    }
    .leftPart {
     height: 100%;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
    }
    .leftPart input {
    width: 60px;
    height: 30px;
   }
   .middlePart {
     height: 100%;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     align-items: center;
   }
   .middlePart audio {
        display: none;
   }
   .middlePart input {
     width: 80px;
     height: 40px;
     margin-left: 10px; 
   }
   .middlePart .middlePartBpttom input {
        width: 120px;
   }
   .rightPart {
     height: 100%;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     align-items: center;
   }
   .rightPart .rank {
        color: red;
        font-size: 24px;
   }
   #showscore{
    font-size:18px ;
    border: none;
   }
   #truescore {
    font-size:18px ;
    border: none;
    color: red;
   }
   #chooseSpace {
    font-size:18px ;
    border: none;
   }
   #spaces {
    font-size: 18px;
    border: none;
    outline: none;
   }
   #scoretab {
    width: 200px;
    height: 100px;
    border: 2px solid red;
   }
   #scoretab div {
    text-align: center;
    color: red;
    margin: 10px auto;
   }
   #container{
    margin-left: 50%;
    transform: translateX(-50%);
    width:800px;
    height:500px;
    border: 1px solid red;
    font-size: 0px;
    background-color: skyblue;
   }
   .food{
    position:absolute;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: url(food.png) no-repeat center center/50px 50px;
   }
   .head {
        position: absolute;
        background: url(snake.png) no-repeat center center/50px 50px; 
        width: 50px;
        height: 50px;
   }
   .headRight {
       border-radius: 0 25px 25px 0;
   }
   .headLeft {
        border-radius: 25px 0 0 25px;
        transform: rotate(180deg);
   }
   .headTop {
        border-radius: 25px 25px 0 0;
        transform: rotate(-90deg);
   }
   
   .headBottom {
        border-radius: 0 0 25px 25px;
        transform: rotate(90deg);
   }
   .snakeBody {
       position:absolute;
       background-color: #9ccc65;
       width: 50px;
       height: 50px;
       border-radius: 50%;
   }